{{extend 'layout.html'}}
<div class="page-header">
	<h1>About Qollate</h1>
</div>

<div class="row">
	<div class="span12">
		<p>Qollate helps you to elicit and explain opinions that have the strongest influence over technology adoption and abandonment. Qollate creates statistical models of different and similar opinions among participants, and captures short anecdotes about the opinions that are most strongly held. Qollate is especially suited to technology design for intimate or contentious domains such as hobbies, relationships, health, therapy, and education.</p>
 
		<p>Qollate has several features that are unique to HCI-Q, an adaptation of Q-methodology for studying human-computer interaction. These unique features include: customizable statement elicitation from participants, statement set curation, optimized algorithm for efficient sorting procedure, and potential for multimedia statements with photos, videos, and audio. Qollate can be used on touch screens and is compatible with most browsers.</p> 

		<h3>Learn more:</h3>
		<ul>
			<li><a href="http://qmethod.org/about" target="_blank">Q-Methodology</a></li>
			<li><a href="http://students.washington.edu/kathlo/HCI-Q-CAMERAReady.pdf" target="_blank">HCI-Q</a></li>
		</ul>

		<h2>Affiliates</h2>
		<p>{{=A(IMG(_src=URL('static','images/mad.png'), _alt='Mad Logo', _height="200", _width="200"), _href='http://depts.washington.edu/madlab')}}
		{{=A(IMG(_src=URL('static','images/dub.gif'), _alt='DUB Logo', _height="200", _width="200"), _href='http://dub.washington.edu')}}
		{{=A(IMG(_src=URL('static','images/UW-logo.png'), _alt='UW Logo', _height="100", _width="100"), _href='http://www.washington.edu')}}</p>
	</div>
</div>