{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}


<h3>Home</h3>
<p>
Welcome to HCI-Q Software for applying HCI-Q in design.
</p>
<p>
Please sign in to start your study!
</p>
<p>
<h4>Links</h4>
<ul>
  <li>Click <a>Here</a> to learn more about Q-Methodology</li>
  <li>Click <a>Here</a> to do a tutorial</li>
</ul>
<p>

<p>
HCI-Q is a design method project developed at The Information School at the University of Washington. The HCI-Q project is affiliated with the Design, Use, Build group and the Mobile Accessible Design Lab. 
</p>
<p>
Contact Us:
<ul>
  <li>Katie O’Leary kathlo@uw.edu</li>
  <li>Zakariya Dehlawi zaxim@uw.edu</li>
  <li>Jacob Wobbrock wobbrock@uw.edu</li>
</ul>

<p>
<p>

{{=A(IMG(_src=URL('static','images/mad.png'), _alt='Mad Logo', _height="200", _width="200"), _href='http://depts.washington.edu/madlab')}}
{{=A(IMG(_src=URL('static','images/dub.gif'), _alt='DUB Logo', _height="200", _width="200"), _href='http://dub.washington.edu')}}
{{=A(IMG(_src=URL('static','images/UW-logo.png'), _alt='UW Logo', _height="100", _width="100"), _href='http://www.washington.edu')}}


{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{=A(T("User"), _href=URL('user','index'), _class='btn',
_style='margin-top: 1em;')}}
{{end}}
