{{extend 'layout.html'}}

{{ block head}}
<link href="{{=URL('static', '/css/select2.css')}}" rel="stylesheet" type="text/css" />
<script src="{{=URL('static','/js/select2.min.js')}}"></script>
{{end}}

{{=A(T("Back"), _href=URL('admin','studies'), _class='btn')}}

<h3>{{=T('Study Details')}}</h3>
{{=study_form}}

<h3>{{=T('Study Q Statement Prompts')}}</h3>
{{=f}}


<h3>{{=T('Study Participants')}}</h3>
<table>
	{{for participant in participants:}}
	<tr>
		<td>{{=A(participant.participant_alias.alias_name, _href=URL('participant', args=participant.id))}}</td>
	</tr>
	{{pass}}
</table>


<h3>{{=T('Add study participants')}}</h3>
{{=add_user_form}}

<h3>{{=T('Invite study participants')}}</h3>
{{=invite_user_form}}
{{if len(invalid_emails) > 0:}}
<h3>{{=T('Invalid emails')}}</h3>
{{=invalid_emails}}
{{pass}}


{{=A(T("View Q Statements"), _href=URL('admin','modify_qstatements', args=request.args(0)), _class='btn')}}
{{#=response.toolbar()}}

<script type="text/javascript">
	$(document).ready(function() { 
 		$("#no_table_add_user_Users").select2({placeholder: "Add a User", allowClear: true, width: 'resolve'});
 		$("#no_table_invite_user_Emails").select2({placeholder: "Invite a user", tags:[], tokenSeparators: [",", " "], allowClear: true, width: 'resolve'});
	});
</script>
