{{extend 'layout.html'}}
<div class="page-header text-center">
	<h1>Sort</h1>
</div>

<div class="row text-center">
	<div class="span8 offset2">
		<p class="text-center">{{=T("Please read each statement. Indicate your opinion by clicking one of the buttons:  Technology would be useless (Avoid Technology), Technology would be useful (Use Technology), or Neither (Neutral/Not Sure):")}}</p>

		<p class="text-center" style="font-size:200%; line-height:120%">{{=q_statement_to_answer.description}}</p>
		<div class="voffset30"/>
		{{=box_form}}
	</div>
</div>

