{{extend 'layout.html'}}

<div class="page-header">
	<h1>{{=T('Your Studies')}}</h1>
</div>
<div>
</div>

<div class="span12">
	<p>{{=T("Here are a list of studies that you are participating in:")}}</p>
</div>

<div class="span12">
	{{if len(studies) == 0:}}
	<p>{{=T("You are not associated with any active studies now.")}}</p>
	<p>{{=T("For any questions please ")}}
	{{=A("Contact Us", _href=URL('default', 'contact'))}}</p>
	{{pass}}

	<table>
		{{for study in studies:}}
		<tr>
			<td>{{=A(study.name, _href=URL('study', args=study.id), _class='btn btn-primary btn-large')}}</td>
		</tr>
		{{pass}}
	</table>
</div>
