{{extend 'layout.html'}}
<style>
table {
    border-collapse: separate;
    border-spacing: 1em;
}
td.disable{
    cursor:default;
    color: white;
    background-color: black;
    opacity:0.7;
}

td {
    border:1px solid black;
    padding-top: .5em;
    padding-bottom: .5em;

    font-size: 150%;
    cursor: move;
}


</style>
<div class="page-header">
    <h1>Order Statements</h1>
</div>
<div class="row">
<h2>{{=pile_text}}</h2>
<p>{{=instructions}}</p>
</div>
<div class="container-fluid">
<div class="row-fluid">
    <div class="span2" style="text-align: center;">

        <p style="font-size:90%;">Most Agree</p>
        <div class="arrow-up"></div>
        <div class="rectangle"></div>
        <div class="arrow-down"></div>
        <p style="font-size:90%;">Most Disagree</p>
    </div>
    <div class="span10">
            <table id="sortbody" style="border-collapse: separate;">
             {{if not is_agree:}}
             {{=TR(ans_to_sort.q_statement.description)}}
             {{pass}}

             {{for s in reversed(sort_list):}}
             {{=TR(TD(s.q_statement.description, _class='disable'), _class='disable')}}
             {{pass}}
             
             {{if is_agree:}}
             {{=TR(ans_to_sort.q_statement.description)}}
             {{pass}}
         </table>
         {{=sort_form}}
     </div>

 </div>
 </div>
 



 <script type="text/javascript">

    $("#sortbody").sortable({
        items: "tr",
        cancel: ".disable",
        cursor: 'move',
        opacity: 0.6,

        stop: function (event, ui) {
            $("#rank").val($("#sortbody tr").length - ui.item.index() - 1);
        },
    });

</script>


