{{extend 'layout.html'}}
<div class="row">
	<div class="span2 offset10">
		{{=A(T("Return to Home"), _href=URL('user','index'), _class='btn')}}
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>{{=T("Statement number: ")}} {{=len(q_solicitations)+1}} / {{=study.num_questions}}</p>
		{{=P(T("Please submit a short statement, 200 words or less, based on the following prompt:"))}}
	</div>
</div>
<hr>

<div class="row">
	<div class="span12">
		{{=P(q_prompt.description)}}
		{{=f}}
	</div>
</div>